{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>{{ pokemon.name }}</h2>
<p>Has elegido el pokemon: <strong>{{ pokemon.name }}</strong></p>
<h3>Características:</h3>

<ul>
    <li>Tipo: {{ pokemon.type }}</li>
    <li>Peso: {{ pokemon.weight }}</li>
    <li>Altura: {{ pokemon.height }}</li>
    <li>
        Entrenador:
        {% if pokemon.trainer %}
            {{ pokemon.trainer.name }}
        {% else %}
            Sin entrenador
        {% endif %}
    </li>
</ul>

{% if pokemon.image %}
    <img src="{{ pokemon.image.url }}" class="detail-img" alt="{{ pokemon.name }}">
{% else %}
    <img src="{% static 'pokedex/img/pokemon-placeholder.png' %}" class="detail-img" alt="Sin imagen">
{% endif %}
<br><br>
<a href="{% url 'index' %}" class="btn btn-link">Regresar</a>
{% endblock %}