{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="titulo-lista">Lista de Pokemones</p>
<div class="row g-0">
    {% for pokemon in pokemons %}
    <div class="col-md-3">
        <div class="card pokemon-card">

            {% if pokemon.image %}
                <img src="{{ pokemon.image.url }}" class="pokemon-img" alt="{{ pokemon.name }}">
            {% else %}
                <img src="{% static 'pokedex/img/pokemon-placeholder.png' %}" class="pokemon-img" alt="Sin imagen">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title">{{ pokemon.name }}</h4>

                <p class="card-text">
                    <strong>Entrenador:</strong>
                    {% if pokemon.trainer %}
                        {{ pokemon.trainer.name }}
                    {% else %}
                        Sin entrenador
                    {% endif %}
                </p>

                <p class="card-text">
                    <strong>Peso:</strong> {{ pokemon.weight }}
                </p>

                <a href="{% url 'pokemon_detail' pokemon.id %}" class="btn btn-info btn-sm">
                    <i class="fa-solid fa-eye"></i>
                </a>

                <a href="{% url 'pokemon_edit' pokemon.id %}" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-pen"></i>
                </a>

                <a href="{% url 'pokemon_delete' pokemon.id %}" class="btn btn-danger btn-sm">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>

        </div>
    </div>
    {% empty %}
        <p>No hay pokemones registrados.</p>
    {% endfor %}
</div>
{% endblock %}