{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>{{ trainer.name }}</h2>

<p><strong>Edad:</strong> {{ trainer.age }}</p>
<p><strong>Ciudad:</strong> {{ trainer.city }}</p>

{% if trainer.photo %}
    <img src="{{ trainer.photo.url }}" class="detail-img" alt="{{ trainer.name }}">
{% else %}
    <img src="{% static 'pokedex/img/trainer-placeholder.svg' %}" class="detail-img" alt="Sin foto">
{% endif %}

<h4 class="mt-4">Pokemones de este entrenador</h4>

<ul>
    {% for pokemon in trainer.pokemons.all %}
        <li>
            <a href="{% url 'pokemon_detail' pokemon.id %}">
                {{ pokemon.name }}
            </a>
        </li>
    {% empty %}
        <li>Este entrenador no tiene pokemones registrados.</li>
    {% endfor %}
</ul>

<a href="{% url 'trainer_list' %}" class="btn btn-secondary">
    <i class="fa-solid fa-arrow-left"></i> Regresar
</a>

{% if user.is_authenticated %}
    <a href="{% url 'trainer_edit' trainer.id %}" class="btn btn-primary">
        <i class="fa-solid fa-pen"></i> Editar
    </a>

    <a href="{% url 'trainer_delete' trainer.id %}" class="btn btn-danger">
        <i class="fa-solid fa-trash"></i> Eliminar
    </a>
{% endif %}

{% endblock %}
